extends layout

block content
  h1 Shop.buy
  p Welcome to #{title}
  script(type='text/javascript' src='javascripts/react.min.js')
  script(type='text/javascript' src='javascripts/username.js')
  link(rel='stylesheet' type='text/css' href='/stylesheets/username.css')

